/*
* @Author: zhanghang
* @Date:   2017-11-28 21:53:03
* @Last Modified by:   zhanghang
* @Last Modified time: 2017-11-28 21:56:59
*/

.nav-simple {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.nav-simple .logo {
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    
}